html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Arial";
}

.mouse-helper {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: left .3s ease, top .3s ease,width .3s ease,height .3s ease,opacity .3s ease,color .3s ease,background-color .3s ease;
  background-color: #ffffff;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 10;
}

nav {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.25);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin: 0 5vw;
}

nav .logo {
  height: 55px;
}

#whatsapp {
  position: fixed;
  display: block;
  height: 50px;
  width: 50px;
  z-index: 20;
  right: 15px;
  bottom: 15px;
}

#circulos {
  height: 22px;
}

#circulos:hover {
  cursor: pointer;
}

aside {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 390px;
  max-width: 100vw;
  top: 0;
  right: -390px;
  background-color: #050610;
  z-index: 2;
  transition: .8s ease;
}

aside.active {
  right: 0;
}

aside .logo {
  position: absolute;
  top: 55px;
  left: 55px;
  height: 55px;
}

#x {
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #101226;
  color: #ffffff;
  top: 44px;
  right: 50px;
  animation-name: out;
  animation-duration:.3s;
}

#x i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: center center;
  font-size: 15px;
}

#x:hover {
  cursor: pointer;
  animation-name: in;
  animation-duration:.3s;
}

@keyframes in {
  from {transform: rotate(0deg);}
  to   {transform: rotate(180deg);}
}

@keyframes out {
  from {transform: rotate(180deg);}
  to   {transform: rotate(0deg);}
}

#redes {
  position: absolute;
  left: 55px;
  color: #ffffff;
}

#redes ul {
  list-style: none;
  padding: 0;
}

#redes ul li {
  margin-bottom: 35px;
}

#redes ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

#redes ul li a i {
  font-size: 18px;
  margin-right: 16px;
}

#redes ul li a:hover {
  color: #bdbdbd;
}

aside #telefono {
  width: 285px;
  padding-top: 45px;
  border-top: 1px solid #444444;
  position: absolute;
  left: 55px;
  bottom: 60px;
  font-size: 19px;
  color: #444444;
}

header, section {
  aspect-ratio: 16/9;
  position: sticky;
  top: 0;
}

@media (orientation: landscape) {
  header {
    width: 100%;
  }
}

@media (orientation: portrait) {
  header {
    height: 100%;
  }
}

video {
  width: 100%;
  height: 100%;
}

section {
  background-size: cover;
}

section div {
  width: 35vw;
  min-width: 300px;
  position: absolute;
  left: 8vw;
  top: 40%;
  transform: translate(0, -40%);
}

@media (max-width: 600px) {
  section div {
    left: 20px;
  }
}

section span {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 13px;
  font-weight: 500;
}

section h2 {
  font-weight: 500;
  font-size: calc(20px + 2vw);
  margin: 15px 0 30px 0;
  letter-spacing: -2px;
}

section h2 b {
  font-weight: 800;
}

section p {
  font-size: 16px;
  line-height: 28px;
}

@media (max-width: 600px) {
  section span {
    font-size: 12px;
  }

  section h2 {
    letter-spacing: 0;
  }

  section p {
    display: none;
  }
}

footer {
  height: 112px;
  background-color: #050610;
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #d2d3d5;
}

footer .logo {
  height: 48px;
}

footer div {
  font-size: 14px;
}

footer a {
  color: #d2d3d5;
  text-decoration: none;
  transition: all .3s ease;
  font-size: 15px;
}

footer a:hover {
  color: #868686;
}

@media (max-width: 500px) {
  footer .logo {
    display: none;
  }
}